$main-background-color: green;
$main-text-color: white;
$main-font-size: 16px;
$main-border-radius: 4px;

@mixin button-style {
  padding: 8px 16px;
  background-color: $main-background-color;
  color: $main-text-color;
  border: none;
  border-radius: $main-border-radius;
  font-size: $main-font-size;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

button {
  @include button-style;
}

ul {
  list-style: inside;
  padding: 5;
  margin: 10;
}

li {
  padding: 5px;
  font-size: $main-font-size;
  color: gray;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
  
  .main-content {
    display: flex;
    flex-direction: column; 
    gap: 2rem; 
  }
  
  section {
    width: 100%;
  }
  
  .hero {
    text-align: left; 
  }
