.spacer {
    flex: 1 1 auto;
  }
  
.mat-toolbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: blue;
  }
  
  
  .main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
  
  